.item {
  flex: 0 0 19.7%;
  transition: all 300ms ease 100ms;
  margin: 0 0.4%;
  position: relative;
  height: auto;
  max-width: 16% !important;
  border-radius: 15px;
  box-shadow: 0 12px 10px rgba(0,0,0,0.29), 0 4px 4px rgba(0,0,0,0.2);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  opacity: 0.85;

  img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    transition: transform 200ms;
  }

  &:first-of-type {
    margin-left: 0px !important;
  }

  & .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  &:after {
    content: ' ';
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    z-index:  1;
    background: rgba(33, 18, 44, 0.5);
  }

  & > .overlay p {
    font-family: 'Graphik', sans-serif !important;
    position: relative;
    margin: 10% 8%;
    font-size: 1vw;
    font-weight: 300;
    color: #fff;
    z-index: 3;
  }

  &.no-flick{-webkit-transform:translate3d(0,0,0);}

}
