@import url('http://fonts.cdnfonts.com/css/graphik');

body {
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #402755, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #402755, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
}

.category-slider {
    font-family: 'Graphik', sans-serif !important;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: -10px;
    padding-top: 40px;
    padding-left: 55px;
}

.greeting {
    font-family: 'Graphik', sans-serif !important;
    color: rgba(0, 0, 0, 0.4);
    font-size: 36px;
    font-weight: 600;
    padding: 20px 50px;
}